In [1]:
import pandas as pd
import numpy as np

In [2]:
import re

In [3]:
df=pd.read_csv(r'..\data\Cabin_cleaned.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,LastName,Title,HusbandName,ActualName,Deck,HasCabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr,Owen Harris,NaN,Unknown,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs,John Bradley,Florence Briggs Thayer,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss,Laina,NaN,Unknown,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs,Jacques Heath,Lily May Peel,C,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr,William Henry,NaN,Unknown,0

In [7]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             34
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          676
Embarked         2
LastName         0
Title            0
HusbandName     16
ActualName     748
Deck             0
HasCabin         0
dtype: int64

In [9]:
df.loc[df['Embarked'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,LastName,Title,HusbandName,ActualName,Deck,HasCabin
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN,Icard,Miss,Amelie,NaN,B,1
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN,Stone,Mrs,George Nelson,Martha Evelyn,B,1

### Embarked Column - Missing Values

- There are 2 passengers with missing values in the `Embarked` column.
- Given the very small number and no strong evidence for accurate imputation, these values were left as `NaN`.
- This choice is unlikely to affect model performance or analysis due to the small proportion.

In [37]:
df.loc[df['Fare']==0].sort_values('Pclass')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,LastName,Title,HusbandName,ActualName,Deck,HasCabin
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S,Harrison,Mr,William,NaN,B,1
815,816,0,1,"Fry, Mr. Richard",male,46.0,0,0,112058,0.0,B102,S,Fry,Mr,Richard,NaN,B,1
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0,NaN,S,Reuchlin,Jonkheer,John George,NaN,Unknown,0
633,634,0,1,"Parr, Mr. William Henry Marsh",male,46.0,0,0,112052,0.0,NaN,S,Parr,Mr,William Henry Marsh,NaN,Unknown,0
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0,A36,S,Andrews,Mr,Thomas Jr,NaN,A,1
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,30.0,0,0,239853,0.0,NaN,S,Parkes,Mr,"Francis ""Frank""",NaN,Unknown,0
466,467,0,2,"Campbell, Mr. William",male,30.0,0,0,239853,0.0,NaN,S,Campbell,Mr,William,NaN,Unknown,0
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,30.0,0,0,239853,0.0,NaN,S,Cunningham,Mr,Alfred Fleming,NaN,Unknown,0
674,675,0,2,"Watson, Mr. Ennis Hastings",male,30.0,0,0,239856,0.0,NaN,S,Watson,Mr,Ennis Hastings,NaN,Unknown,0
732,733,0,2,"Knight, Mr. Robert J",male,30.0,0,0,239855,0.0,NaN,S,Knight,Mr,Robert J,NaN,Unknown,0
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,30.0,0,0,239854,0.0,NaN,S,Frost,Mr,"Anthony Wood ""Archie""",NaN,Unknown,0
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S,Leonard,Mr,Lionel,NaN,Unknown,0
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S,Johnson,Mr,William Cahoone Jr,NaN,Unknown,0
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S,Tornquist,Mr,William Henry,NaN,Unknown,0
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S,Johnson,Mr,Alfred,NaN,Unknown,0

In [40]:
df.loc[df['Ticket'].str.contains('1120')].sort_values('Ticket')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,LastName,Title,HusbandName,ActualName,Deck,HasCabin
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.00,A36,S,Andrews,Mr,Thomas Jr,NaN,A,1
633,634,0,1,"Parr, Mr. William Henry Marsh",male,46.0,0,0,112052,0.00,NaN,S,Parr,Mr,William Henry Marsh,NaN,Unknown,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S,Graham,Miss,Margaret Edith,NaN,B,1
815,816,0,1,"Fry, Mr. Richard",male,46.0,0,0,112058,0.00,B102,S,Fry,Mr,Richard,NaN,B,1
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.00,B94,S,Harrison,Mr,William,NaN,B,1
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,NaN,S,Meo,Mr,Alfonzo,NaN,Unknown,0




### Fare Column - Zero Fare Values

- Found 15 passengers with `Fare = 0`.
  - 5 from 1st Class
  - 6 from 2nd Class
  - 4 from 3rd Class
- All of them embarked from **'S' (Southampton)**.
- Within each class, these passengers share similar or sequential ticket number patterns — likely indicating group bookings, crew arrangements, or complimentary tickets.
- No fare correction applied; values left as `0` as they appear valid based on supporting ticket/embark/class data.

In [ ]:
df['FamilySize']=df['SibSp']+df['Parch']+1
df['IsAlone']=df['FamilySize'].apply(lambda x :1 if x==1 else 0)
df['FarePerPerson']=df['Fare']/df['FamilySize']

In [67]:
age_bins = [0, 18, 30, 45, 60, 100]
age_labels = ['Children', 'Young Adults', 'Middle Adults' ,'Adults', 'Seniors']


df['AgeBin'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels, right=False)

In [68]:
df['FareQuantile'] = pd.qcut(df['Fare'], q=4, labels=['Low', 'Mid', 'High', 'Very High'])

In [69]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Title,HusbandName,ActualName,Deck,HasCabin,FamilySize,IsAlone,FarePerPerson,AgeBin,FareQuantile
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,Mr,Owen Harris,NaN,Unknown,0,2,0,3.62500,Young Adults,Low
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,Mrs,John Bradley,Florence Briggs Thayer,C,1,2,0,35.64165,Middle Adults,Very High
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,Miss,Laina,NaN,Unknown,0,1,1,7.92500,Young Adults,Mid
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,Mrs,Jacques Heath,Lily May Peel,C,1,2,0,26.55000,Middle Adults,Very High
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,Mr,William Henry,NaN,Unknown,0,1,1,8.05000,Middle Adults,Mid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,Rev,Juozas,NaN,Unknown,0,1,1,13.00000,Young Adults,Mid
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,Miss,Margaret Edith,NaN,B,1,1,1,30.00000,Young Adults,High
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,...,Miss,"Catherine Helen ""Carrie""",NaN,Unknown,0,4,0,5.86250,NaN,High
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,Mr,Karl Howell,NaN,C,1,1,1,30.00000,Young Adults,High
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,Mr,Patrick,NaN,Unknown,0,1,1,7.75000,Middle Adults,Low

## 🔧 Feature Engineering Summary

The following new features were added to enhance the dataset for better exploration and modeling:

- **AgeBin**: Categorized passengers into life stages:
  - Children (0–18), Young Adults (18–30), Adults (30–60), Seniors (60+)
- **FareQuantile**: Divided fare into quartiles using `pd.qcut` to handle skew and ensure even distribution.
- **IsSingle**: Boolean feature indicating if the passenger was traveling alone (`SibSp == 0 and Parch == 0`).
- **FamilySize**: Total number of family members aboard, calculated as `SibSp + Parch + 1`.
- **FarePerPerson**: Adjusted fare per passenger by dividing Fare by FamilySize (`Fare / FamilySize`).

These features help better understand relationships between demographics, ticketing/family structures, and survival.