In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'..\data\final_cleaned.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,LastName,Title,Deck,HasCabin,FamilySize,IsAlone,FarePerPerson,AgeBin,FareQuantile
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,Braund,Mr,Unknown,0,2,0,3.62500,Young Adults,Low
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,Cumings,Mrs,C,1,2,0,35.64165,Middle Adults,Very High
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,Heikkinen,Miss,Unknown,0,1,1,7.92500,Young Adults,Mid
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,Futrelle,Mrs,C,1,2,0,26.55000,Middle Adults,Very High
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,Allen,Mr,Unknown,0,1,1,8.05000,Middle Adults,Mid

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    891 non-null    int64
 1   Survived       891 non-null    int64
 2   Pclass         891 non-null    int64
 3   Name           891 non-null    object
 4   Sex            891 non-null    object
 5   Age            857 non-null    float64
 6   SibSp          891 non-null    int64
 7   Parch          891 non-null    int64
 8   Ticket         891 non-null    object
 9   Fare           891 non-null    float64
 10  Cabin          215 non-null    object
 11  Embarked       889 non-null    object
 12  LastName       891 non-null    object
 13  Title          891 non-null    object
 14  Deck           891 non-null    object
 15  HasCabin       891 non-null    int64
 16  FamilySize     891 non-null    int64
 17  IsAlone        891 non-null    int64
 18  FarePerPerson  891 non-null    float64
 19  AgeBin         857 non-null    object
 20  FareQuantile   891 non-null    object
dtypes: float64(3), int64(8), object(10)
memory usage: 146.3+ KB